{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container">
    {% if users %}
    <div class="row">
        <div class="col">
            <h1>Scores:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">City</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user['id'] }}</th>
                        <td>{{ user['firstname'].capitalize()}}</td>
                        <td>{{ user['lastname'].capitalize()}}</td>
                        <td>{{ user['city'].capitalize() }}</td>
                        <td>{{ user['email'] }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% elif news_list %}
    <div class="row">
        <div class="col">
            <p class="lead">
                Python News
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for news in news_list %}
                <li class="list-group-item">
                    <h6><a href="{{ news.url }}">{{ news.title }}</a></h6>
                    <p>{{ news.published }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="row">
        <h1>Сервис временно недоступен. Попробуйте позднее.</h1>
    </div>
    {% endif %}
</div>
{% endblock %}