{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Pricer Project</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Учебный проект - парсер цен на видео-карты с сайтов citilink.ru, regard.ru<br>
              Парсинг происходит раз в сутки. Цены складываются в базу данных.<br>
              Можно подписаться на отслеживание цен на видео-карты (до трех позиций) и получать на почту или в телеграм ежедневный отчет об изменении цены.
            </p>
        </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('gpu.gpu') }}">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Выбрать видеокарты</button>
        </a>
      </div>
    </div>
</div>
{% endblock %}
