{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h3>Python News</h3>
            <br>
        </div>
    </div>
    {% if news_list %}
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for news in news_list %}
                <li class="list-group-item">
                    <h6><a href="{{ news.url }}">{{ news.title }}</a></h6>
                    <p>{{ news.published }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}