{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/352141_v01_m.jpg')}}" class="card-img-top" alt="{{ gpu.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ gpu.model}}</h5>
                    <p class="card-text">{{ gpu.name }}</p>
                    <ul>
                    {% for price in prices %}
                        <li>
                            <a href="{{ price['link'] }}" target="_blank">link to {{ price["shop_id"] }}</a>: <span class="price">{{ price.price }} руб.</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}