{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container">
    {% if gpus %}
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <h1>GPU list:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video_card in gpus %}
                    <tr>
                        <th scope="row">{{ video_card['gpu_id'] }}</th>
                        <td><a href="{{ url_for('gpu.gpu_detail', gpu_id=video_card['gpu_id']) }}">{{ video_card['name'] }}</a></td>
                        <td>{{ video_card['vendor'] }}</td>
<!--                        <td>-->
<!--                            {% for price in prices %}-->
<!--                                Shop {{ price["shop_id"] }} - {{ price.price }}<br>-->
<!--                            {% endfor %}-->
<!--                        </td>-->
                        <td>
                            <a href="{{ url_for('gpu.subscribe', gpu_id=video_card['gpu_id'], next=request.full_path) }}">
                                <button class="btn btn-primary btn-sm">Subscribe</button>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <h1>Сервис временно недоступен. Попробуйте позднее.</h1>
    </div>
    {% endif %}
</div>
{% endblock %}




